body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	background-color: #F0ECEE;
}
a {
	text-decoration: none;
	color: #88898B;
}
a:hover {
	color: #FF4850;
}
em {
	font-style: normal;
	color: #FF4850;
}
h2 {
	font-weight: 400;
}
h1 {
	font-weight: 600;
}
p {
	color: #88898B;
}
.button {
	padding: 10px;
	border-radius: 15px;
	background-color: #FF4850;
	color: #F0ECEE;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.button:hover {
	background-color: #CCC;
}
#navigation ul {
	list-style-type: none;
	padding: 0;
}
#box {
	margin: 20px;
	display: flex;
	flex-direction: column;
}
#topbar {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	body {
		background-image: url("../images/bulldog.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
	}
	li {
		display: inline;
		margin-right: 10px;
	}
	.button {
		width: auto;
	}
	#box {
		margin: 40px;
	}
	#topbar {
		flex-direction: row;
		justify-content: space-between;
	}
	#main-content {
		width: 40%;
	}
}